index.jade
doctype html
html(lang="eng")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Final
        link(rel="stylesheet" href="reset-extended.css")
        Link(href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css")
        Link(href="https://fonts.googleapis.com/css?family=Nunito:400,300" rel="stylesheet" type="text/css")
        link(rel="stylesheet" href="style.css")
    body.body
        div.body__section.section-intoduction
            div.section-introduction__wrapper
                div.section-intoduction__header.header
                    div.header__logo.header-logo
                        img.header-logo__image(src="SVG/Logo.svg" alt="")
                        span.header-logo__text Final
                    div.header__dropdown-menu    
                        img.dropdown-menu(src="SVG/Mobile_Menu.svg" alt="")
                    ul.header__menu.header-menu.menu
                        li.header-menu__item
                            a.header-menu__link.link(href="#") Tour
                        li.header-menu__item
                            a.header-menu__link.link(href="#") FAQ
                        li.header-menu__item
                            a.header-menu__link.link(href="#") Contact
                        li.header-menu__item.header-menu__item_bordered
                            a.header-menu__link.link(href="#") Get early access
                    div.header__big-horizontal-line
                div.header__introduction
                    span.header__introduction-h1 Introducing Final.
                    span.header__introduction-h2 It's time to say goodbye to breaches.
                    div.header__horizontal-line
                div.header__video-button
                    span.video-button
                        a(href="#")
                            img.video-button__play(src="SVG/Video-Button_1.svg" alt="")
                        a.video-button__link(href="#") Watch video
                form.header__email-form.email-form(method="post" action="")
                    button.email-form__button(type="submit")
                        img.email-form__image(src="SVG/Send_Button.svg" alt="")
                    div.email-form__input-width    
                        input.email-form__input(type="email" name="email" placeholder="Enter email to request your Final card...")
        div.body__section.section-card
            div.section-card__wrapper
                div.section-card__text.safe-card-text
                    h1.safe-card-text__header.text-header The credit card was broken. <br>We fixed it.
                    div.safe-card-text__text
                        p.safe-card-text__paragraph.paragraph The next time you hear about a big credit card breach, you can relax.
                        p.safe-card-text__paragraph.paragraph Final eliminates the hassle associated with a cancelled card, fraud, or theft. Don't waste time on re-establishing your payment relationships. Don't worry about missing important bills or about constantly checking your statement.
                img.section-card__image.safe-card-image(src="SVG/Card.svg" alt="")
        div.body__section.section-payment-control
            div.section-payment-control__wrapper
                img.section-payment__image.payment-control-image(src="SVG/Phone.svg" alt="")
                div.section-payment__image-underline
                div.section-payment__text.payment-control-text
                    img.payment-control-text__image(src="SVG/Payment-Control-Circle.svg" alt="")
                    div.payment-control-text__text
                        h1.payment-control-text__header.text-header Final puts you in total payment control.
                        p.payment-control-text__paragraph.paragraph Final lets you give a unique credit card number to every merchant, or a dispisable one-time use number for one-off purchases.
                        p.payment-control-text__paragraph.paragraph Tired of your monthly yoga pants subscription? Or a two-week "free" trial that lasted for months? Just deactivate that card number. It's that easy.
                        p.payment-control-text__paragraph.paragraph With Final, you can limit each merchant or subscription to a monthly amount. If the merchant attempts to go over that limit, you receive a push notification, keeping you in the loop.
                div.section-payment-control__justify
        div.body__section.section-purchase-transparency
            div.section-purchase-transparency__wrapper
                div.section-purchase-transparency__text.purchase-transparency-text
                    img.purchase-transparency-text__image(src="SVG/Purchase-Transparency-Circle.svg" alt="")
                    div.purchase-transparency-text__text
                            h1.purchase-transparency-text__header.text-header Full transparency in your purchases.
                        p.purchase-transparency-text__paragraph.paragraph With Fnal, you get a clear view with your trans&shy;actions and buying habits.
                        p.purchase-transparency-text__paragraph.paragraph We show you exactly where your money is going, whether it's an in-person or online transaction, and if it was a one-tine purchase or subscription.
                        p.purchase-transparency-text__paragraph.paragraph You can even get real time transaction re&shy;ceipts pushed to your phone so you know exactly what that merchant charged you.
                    div.purchase-transparency-text__clear
                div.section-purchase-transparency__image-wrapper
                      div.section-purchase-transparency__image  
                        img.purchase-transparency-image(src="SVG/Monitor.svg" alt="")
        div.body__section.section-device
            div.section-device__wrapper
                div.section-device__images.section-device-images
                    img.section-device-images__phone(src="SVG/device-phone-mockup.svg" alt="")
                    div.section-device-images__laptop-wrapper
                        img.section-device-images__laptop(src="SVG/device-laptop-mockup.svg" alt="")
                div.section-device__text.section-device-text
                    img.section-device-text__image(src="SVG/Device-Circle.svg" alt="")
                    h1.section-device-text__header.text-header Use Final on any device, easily.
                    p.section-device-text__paragraph.paragraph For online purchases, use the browser exention to create a new number in one click and auto-fill the payment fields. Or, generate new numbers and purchase on your phone.
                    p.section-device-text__paragraph.paragraph Want to use Final in a digital wallet? It works there, too. This way you're never without a way to pay.
                div.section-device__justify
        div.body__section.section-conclusion
            div.section-conclusion__wrapper
                div.section-conclusion__content
                    div.section-conclusion__text.conclusion-text
                        h1.conclusion-text__header.text-header Final is aligned with you,<br> your goals, and how you buy.
                        p.conclusion-text__paragraph.paragraph You can limit your ability to spend based on your personal budget, and we will work with you towards building good credit, not bad debt.
                        p.conclusion-text__paragraph.paragraph Your credit card should work for you, not against you. That is why we've built Final.
                    div.section-conclusion__image
                        img.conclusion-image(src="SVG/Large-Circle.svg" alt="")
                    div.section-conclusion__content-justify
        div.body__section.section-footer
            div.section-footer__wrapper
                form.section-footer__email-form.email-form(method="post" action="")
                    button.email-form__button(type="submit")
                        img.email-form__image(src="SVG/Send_Button.svg" alt="")
                    div.email-form__input-width
                        input.email-form__input(type="email" name="email" placeholder="Enter email to request your Final card...")
                div.section-footer__footer.footer
                    div.footer__big-horizontal-line
                    div.footer__logo-copyright_large
                        img.footer__logo_large(src="" alt="")
                        span.footer__copyright_large Final Card 2014 All rights Reserved
                    div.footer__menu-social-menu    
                        ul.footer__menu.footer-menu.menu
                            li.footer-menu__item
                                a.footer-menu__link.link(href="#") Tour
                            li.footer-menu__item
                                a.footer-menu__link.link(href="#") FAQ's
                            li.footer-menu__item
                                a.footer-menu__link.link(href="#") Contact
                            li.footer-menu__item
                                a.footer-menu__link.link(href="#") Request Final Card
                        ul.footer__social-networks-menu.footer-social-networks-menu.social-networks-menu.menu
                            li.footer-social-networks-menu__item
                                a.footer-social-networks-menu__link.footer-social-networks-menu__link--facebook(href="#")
                                    img.footer-social-networks__image(src="SVG/footer-social-network-image.svg" alt="")
                            li.footer-social-networks-menu__item
                                a.footer-social-networks-menu__link.footer-social-networks-menu__link--twitter(href="#")
                                    img.footer-social-networks__image(src="SVG/footer-social-network-image.svg" alt="")
                    div.footer__logo-copyright
                        img.footer__logo(src="" alt="")
                        span.footer__copyright Final Card 2014 All rights Reserved
                    div.footer__justify

index.html
<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Final</title>
    <link rel="stylesheet" href="reset-extended.css">
    <Link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css"></Link>
    <Link href="https://fonts.googleapis.com/css?family=Nunito:400,300" rel="stylesheet" type="text/css"></Link>
    <link rel="stylesheet" href="style.css">
  </head>
  <body class="body">
    <div class="body__section section-intoduction">
      <div class="section-introduction__wrapper">
        <div class="section-intoduction__header header">
          <div class="header__logo header-logo"><img src="SVG/Logo.svg" alt="" class="header-logo__image"><span class="header-logo__text">Final</span></div>
          <div class="header__dropdown-menu">   <img src="SVG/Mobile_Menu.svg" alt="" class="dropdown-menu"></div>
          <ul class="header__menu header-menu menu">
            <li class="header-menu__item"><a href="#" class="header-menu__link link">Tour</a></li>
            <li class="header-menu__item"><a href="#" class="header-menu__link link">FAQ</a></li>
            <li class="header-menu__item"><a href="#" class="header-menu__link link">Contact</a></li>
            <li class="header-menu__item header-menu__item_bordered"><a href="#" class="header-menu__link link">Get early access</a></li>
          </ul>
          <div class="header__big-horizontal-line"></div>
        </div>
        <div class="header__introduction"><span class="header__introduction-h1">Introducing Final.</span><span class="header__introduction-h2">It's time to say goodbye to breaches.</span>
          <div class="header__horizontal-line"></div>
        </div>
        <div class="header__video-button"><span class="video-button"><a href="#"><img src="SVG/Video-Button_1.svg" alt="" class="video-button__play"></a><a href="#" class="video-button__link">Watch video</a></span></div>
        <form method="post" action="" class="header__email-form email-form">
          <button type="submit" class="email-form__button"><img src="SVG/Send_Button.svg" alt="" class="email-form__image"></button>
          <div class="email-form__input-width">   
            <input type="email" name="email" placeholder="Enter email to request your Final card..." class="email-form__input">
          </div>
        </form>
      </div>
    </div>
    <div class="body__section section-card">
      <div class="section-card__wrapper">
        <div class="section-card__text safe-card-text">
          <h1 class="safe-card-text__header text-header">The credit card was broken. <br>We fixed it.</h1>
          <div class="safe-card-text__text">
            <p class="safe-card-text__paragraph paragraph">The next time you hear about a big credit card breach, you can relax.</p>
            <p class="safe-card-text__paragraph paragraph">Final eliminates the hassle associated with a cancelled card, fraud, or theft. Don't waste time on re-establishing your payment relationships. Don't worry about missing important bills or about constantly checking your statement.</p>
          </div>
        </div><img src="SVG/Card.svg" alt="" class="section-card__image safe-card-image">
      </div>
    </div>
    <div class="body__section section-payment-control">
      <div class="section-payment-control__wrapper"><img src="SVG/Phone.svg" alt="" class="section-payment__image payment-control-image">
        <div class="section-payment__image-underline"></div>
        <div class="section-payment__text payment-control-text"><img src="SVG/Payment-Control-Circle.svg" alt="" class="payment-control-text__image">
          <div class="payment-control-text__text">
            <h1 class="payment-control-text__header text-header">Final puts you in total payment control.</h1>
            <p class="payment-control-text__paragraph paragraph">Final lets you give a unique credit card number to every merchant, or a dispisable one-time use number for one-off purchases.</p>
            <p class="payment-control-text__paragraph paragraph">Tired of your monthly yoga pants subscription? Or a two-week "free" trial that lasted for months? Just deactivate that card number. It's that easy.</p>
            <p class="payment-control-text__paragraph paragraph">With Final, you can limit each merchant or subscription to a monthly amount. If the merchant attempts to go over that limit, you receive a push notification, keeping you in the loop.</p>
          </div>
        </div>
        <div class="section-payment-control__justify"></div>
      </div>
    </div>
    <div class="body__section section-purchase-transparency">
      <div class="section-purchase-transparency__wrapper">
        <div class="section-purchase-transparency__text purchase-transparency-text"><img src="SVG/Purchase-Transparency-Circle.svg" alt="" class="purchase-transparency-text__image">
          <div class="purchase-transparency-text__text">
            <h1 class="purchase-transparency-text__header text-header">Full transparency in your purchases.</h1>
          </div>
          <p class="purchase-transparency-text__paragraph paragraph">With Fnal, you get a clear view with your trans&shy;actions and buying habits.
            <p class="purchase-transparency-text__paragraph paragraph">We show you exactly where your money is going, whether it's an in-person or online transaction, and if it was a one-tine purchase or subscription.</p>
            <p class="purchase-transparency-text__paragraph paragraph">You can even get real time transaction re&shy;ceipts pushed to your phone so you know exactly what that merchant charged you.</p>
          </p>
          <div class="purchase-transparency-text__clear"></div>
        </div>
        <div class="section-purchase-transparency__image-wrapper">
          <div class="section-purchase-transparency__image"> <img src="SVG/Monitor.svg" alt="" class="purchase-transparency-image"></div>
        </div>
      </div>
    </div>
    <div class="body__section section-device">
      <div class="section-device__wrapper">
        <div class="section-device__images section-device-images"><img src="SVG/device-phone-mockup.svg" alt="" class="section-device-images__phone">
          <div class="section-device-images__laptop-wrapper"><img src="SVG/device-laptop-mockup.svg" alt="" class="section-device-images__laptop"></div>
        </div>
        <div class="section-device__text section-device-text"><img src="SVG/Device-Circle.svg" alt="" class="section-device-text__image">
          <h1 class="section-device-text__header text-header">Use Final on any device, easily.</h1>
          <p class="section-device-text__paragraph paragraph">For online purchases, use the browser exention to create a new number in one click and auto-fill the payment fields. Or, generate new numbers and purchase on your phone.</p>
          <p class="section-device-text__paragraph paragraph">Want to use Final in a digital wallet? It works there, too. This way you're never without a way to pay.</p>
        </div>
        <div class="section-device__justify"></div>
      </div>
    </div>
    <div class="body__section section-conclusion">
      <div class="section-conclusion__wrapper">
        <div class="section-conclusion__content">
          <div class="section-conclusion__text conclusion-text">
            <h1 class="conclusion-text__header text-header">Final is aligned with you,<br> your goals, and how you buy.</h1>
            <p class="conclusion-text__paragraph paragraph">You can limit your ability to spend based on your personal budget, and we will work with you towards building good credit, not bad debt.</p>
            <p class="conclusion-text__paragraph paragraph">Your credit card should work for you, not against you. That is why we've built Final.</p>
          </div>
          <div class="section-conclusion__image"><img src="SVG/Large-Circle.svg" alt="" class="conclusion-image"></div>
          <div class="section-conclusion__content-justify"></div>
        </div>
      </div>
    </div>
    <div class="body__section section-footer">
      <div class="section-footer__wrapper">
        <form method="post" action="" class="section-footer__email-form email-form">
          <button type="submit" class="email-form__button"><img src="SVG/Send_Button.svg" alt="" class="email-form__image"></button>
          <div class="email-form__input-width">
            <input type="email" name="email" placeholder="Enter email to request your Final card..." class="email-form__input">
          </div>
        </form>
        <div class="section-footer__footer footer">
          <div class="footer__big-horizontal-line"></div>
          <div class="footer__logo-copyright_large"><img src="" alt="" class="footer__logo_large"><span class="footer__copyright_large">Final Card 2014 All rights Reserved</span></div>
          <div class="footer__menu-social-menu">   
            <ul class="footer__menu footer-menu menu">
              <li class="footer-menu__item"><a href="#" class="footer-menu__link link">Tour</a></li>
              <li class="footer-menu__item"><a href="#" class="footer-menu__link link">FAQ's</a></li>
              <li class="footer-menu__item"><a href="#" class="footer-menu__link link">Contact</a></li>
              <li class="footer-menu__item"><a href="#" class="footer-menu__link link">Request Final Card</a></li>
            </ul>
            <ul class="footer__social-networks-menu footer-social-networks-menu social-networks-menu menu">
              <li class="footer-social-networks-menu__item"><a href="#" class="footer-social-networks-menu__link footer-social-networks-menu__link--facebook"><img src="SVG/footer-social-network-image.svg" alt="" class="footer-social-networks__image"></a></li>
              <li class="footer-social-networks-menu__item"><a href="#" class="footer-social-networks-menu__link footer-social-networks-menu__link--twitter"><img src="SVG/footer-social-network-image.svg" alt="" class="footer-social-networks__image"></a></li>
            </ul>
          </div>
          <div class="footer__logo-copyright"><img src="" alt="" class="footer__logo"><span class="footer__copyright">Final Card 2014 All rights Reserved</span></div>
          <div class="footer__justify"></div>
        </div>
      </div>
    </div>
  </body>
</html>
